body {background-color: rgb(241, 239, 108);
}
.parte1{text-align: center;
         font-size: 150%;
        color: blue;
}

.parte1{border-color: blue;
        border-style: outset;
        border-width: 5px;
      margin-left: 30%;
      margin-right: 30%;
    }

   