body {background-color: rgb(241, 239, 108);
}
.part01{text-align: center;
         font-size: 150%;
        color: blue;
}

.part01{border-color: blue;
        border-style: outset;
        border-width: 5px;
      margin-left: 30%;
      margin-right: 30%;
    }

    #ima1 {width: 30%;
    }

    .fig01 {background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(255, 157, 10);
      border-width: 5px;

    }
    #ima1 {margin-left: 35%;
      border-style: solid;
      border-color: rgb(251, 255, 10);
      border-width: 8px;
    }
   


    .part02{text-align: center;
      font-size: 150%;
     color: blue; 
    }

.part02{border-color: blue;
     border-style: outset;
     border-width: 5px;
   margin-left: 30%;
   margin-right: 30%;
    }

     #ima2 {width: 30%;
    }

     .fig01 {background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(255, 157, 10);
      border-width: 5px;
     }

     #ima2 {margin-left: 35%;
     border-style: solid;
     border-color: rgb(251, 255, 10);
     border-width: 8px;
    }   


    .part02{text-align: center;
      font-size: 150%;
     color: blue; 
    }

.part03{border-color: blue;
     border-style: outset;
     border-width: 5px;
   margin-left: 30%;
   margin-right: 30%;
    }

     #ima2 {width: 30%;
    }

     .fig02 {background-color: blanchedalmond;
      border-style: solid;
      border-color: rgb(255, 157, 10);.part02{text-align: center;
        font-size: 150%;
       color: blue; 
      }
      border-width: 5px;
     }

     #ima2 {margin-left: 35%;
     border-style: solid;
     border-color: rgb(251, 255, 10);
     border-width: 8px;
    }   